<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>CustomerStatistic\CustomerStatistic</fullnamespace>
    <descriptive locale="en_US">
        <title>Customer Statistics</title>
        <description>Gives you statistics about articles bought by a customer and the customer update page.</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Statistiques Clients</title>
        <description>Donne des statistiques sur les articles achetés par un client sur la page d'édition d'un client</description>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0</version>
    <authors>
        <author>
            <name>Luc Normandon</name>
            <email>lucnormandon@openstudio.com</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.3.4</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
